*.class
target
.idea
module_web-analyzer.xml
web-analyzer.iml
web-analyzer.xml
web-analyzer.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
